%form{ :id => 'config_form', :action => '/config', :method => 'post', :name => 'config', :onsubmit => 'sendConfig(); return false;' }
  %input{ :type => 'text', :size => '50', :name => 'peter' }
  %input{ :type => 'submit', :value => 'Save' }
