%form#modal-form.config{ :action => '/save_config', :method => 'post', :name => 'config', :onsubmit => 'sendConfig(); return false;', :onreset => 'closeModal(); return false;' }
  #modal-warning.error_message 
  %div.modal-form-element
    %table
      %tr
        %th{ :colspan => 2 } General Settings
      %tr
        %td
          %label{:for => "general[default_color]"} Default color
        %td
          %input{ :name => 'general[default_color]', :type => 'color', :value => graph.conf.default_color }
      %tr
        %td
          %label{:for => "general[token_color]"} Token color
        %td
          %input{ :name => 'general[token_color]', :type => 'color', :value => graph.conf.token_color }
      %tr
        %td
          %label{:for => "general[found_color]"} Found color
        %td
          %input{ :name => 'general[found_color]', :type => 'color', :value => graph.conf.found_color }
      %tr
        %td
          %label{:for => "general[filtered_color]"} Filtered color
        %td
          %input{ :name => 'general[filtered_color]', :type => 'color', :value => graph.conf.filtered_color }
      %tr
        %td
          %label{:for => "general[edge_weight]"} Edge weight
        %td
          %input{ :name => 'general[edge_weight]', :type => 'number', :value => graph.conf.edge_weight }

  %div.modal-form-element
    %table.layers
      %thead
        %tr
          %th{ :colspan => 2 } Layers
      - graph.conf.layers.each_with_index do |layer, i|
        = haml :layer_form_segment, :locals => {:layer => layer, :i => i}
      %tbody
        %tr
          %td{:colspan => 2}
            %button#new-layer New layer

  %div.modal-form-element
    %table.combinations
      %thead
        %tr
          %th{ :colspan => 2 } Layer combinations
      - graph.conf.combinations.each_with_index do |combination, i|
        = haml :combination_form_segment, :locals => {:combination => combination, :i => i, :layers => graph.conf.layers}
      %tbody
        %tr
          %td{:colspan => 2}
            %button#new-combination New combination

  %div.modal-form-element
    %table
      %tr
        %th{:colspan => 2} Search makros
      %tr
        %td
          %label{:for => "makros"}
      %tr
        %td{:colspan => 2}
          %textarea{:name => "makros"}
            = graph.makros_plain * "\r"

  #modal-submit.bottom-block
    %input{ :type => 'reset', :value => 'Cancel' }
    %input{ :type => 'submit', :value => 'Save' }
