%form{ :action => "/config", :method => "post", :name => "config", :onsubmit => "sendConfig(); return false" }
  %input{ :type => 'text', :size => '50' }
  %input{ :type => 'submit', :value => 'Save' }
