%form#modal-form.file{:onsubmit => 'sendModal("file"); return false;', :onreset => 'closeModal(); return false;'}
  #modal-warning.error_message

  .modal-form-element
    %table
      %thead
        %tr
          %th{:colspan => 3} File settings
      %tbody
        %tr
          %td
            %input#compact{:name => 'compact', :type => 'checkbox', :value => true, :checked => graph.file_settings[:compact]}
          %td{:colspan => 2}
            %label{:for =>'compact'}
              compact file format
        %tr
          %td
            %input#save-log{:name => 'save_log', :type => 'checkbox', :value => true, :checked => graph.file_settings[:save_log]}
          %td{:colspan => 2}
            %label{:for =>'save-log'}
              save editing history
        -#%tr
        -#  %td
        -#  %td
        -#    %input#separate-log{:name => 'separate_log', :type => 'checkbox', :value => true, :checked => graph.file_settings[:separate_log], :disabled => !graph.file_settings[:save_log]}
        -#  %td
        -#    %label{:for =>'separate-log'}
        -#      save editing history in separate file
        %tr
          %td
            %input#save-windows{:name => 'save_windows', :type => 'checkbox', :value => true, :checked => graph.file_settings[:save_windows]}
          %td{:colspan => 2}
            %label{:for =>'save-windows'}
              save window positions

  .modal-form-element{:style => 'width: 100%'}
    %table{:style => 'width: 100%'}
      %thead
        %tr
          %th Files
      %tbody
        %tr
          %td
            .file-list
              %ul
                - graph.multifile[:files].each do |file|
                  %li.collapsed
                    .toggler{:onclick => '$(this).parent().toggleClass("collapsed")'}
                    %input{:name => 'filenames[]', :value => file, :type => 'text'}
                    %ul
                      - if graph.multifile[:sentence_index][file].nil?
                        %li not loaded
                      - else
                        - graph.multifile[:sentence_index][file].to_a.each do |sentence|
                          %li= sentence.name

  #modal-submit.bottom-block
    %input{ :type => 'reset', :value => 'Cancel' }
    %input{ :type => 'submit', :value => 'Save' }
