%form#modal-form.import{ :action => '/import', :method => 'post', :name => 'import', :enctype => 'multipart/form-data', :onsubmit => 'sendImport("toolbox"); return false;', :onreset => 'closeModal(); return false;' }
  #modal-warning.error_message
  %div.modal-form-element
    %table
      %tr
        %th Toolbox file
      %tr
        %td
          %input{:name => 'file', :type => 'file'}

  %div.modal-form-element
    %table
      %tr
        %th Format description
      %tr
        %td
          %textarea{:name => 'format_description', :rows => 10, :cols => 40}

  #modal-submit
    %input{ :type => 'reset', :value => 'Cancel' }
    %input{ :type => 'submit', :value => 'Import' }
