%form#modal-form.import{ :action => '/import', :method => 'post', :name => 'import', :enctype => 'multipart/form-data', :onsubmit => 'sendImport(); return false;', :onreset => 'closeModal(); return false;' }
  #modal-warning.error_message 
  %div.modal-form-element
    %table
      %tr
        %th{ :colspan => 2 } Text
      %tr
        %td
          %label{:for => 'file'} Text file
        %td
          %input{:name => 'file', :type => 'file'}
      %tr
        %th{ :colspan => 2 } Sentence segmentation
      %tr
        %td
          %label{:for => 'sentences[sep]'} Separator
        %td
          %input{ :name => 'sentences[sep]', :type => 'text', :value => '\n' }
      %tr
        %th{ :colspan => 2 } Tokenisation
      %tr
        %td
          %label{:for => 'tokens[regex]'} Regular expression to match tokens
        %td
          %input{ :name => 'tokens[regex]', :type => 'text', :value => '(\S+)_(\S+)' }
      %tr
        %td
          %label{:for => 'tokens[regex]'} Token annotation
        %td
          %input{ :name => 'tokens[anno]', :type => 'text', :value => 'token:$1 pos:$2' }

  #modal-submit
    %input{ :type => 'reset', :value => 'Cancel' }
    %input{ :type => 'submit', :value => 'Import' }
