- if i >= 0
  - step = log.steps[i]
  %tr{class: step.done? ? '' : 'undone', :index => i, :onclick => "goToStep(#{i})" }
    %td.command= step.command
    %td.user= step.user ? step.user.name : ''
    %td.time= step.time.strftime('%y-%m-%d %H:%M')
- else
  %tr{:index => -1, :onclick => "goToStep(-1)" }
    %td.command &nbsp;
    %td.user
    %td.time
