- if i >= 0
  - step = log.steps[i]
  %tr{class: step.done? ? '' : 'undone', :index => i}
    %td.command= step.command
    %td.user= step.user
    %td.time= step.time.strftime('%y-%m-%d %H:%M')
    %td.action
      %button{ :onclick => "goToStep(#{i})" }
        go here
- else
  %tr{:index => -1}
    %td.command
    %td.user
    %td.time
    %td.action
      %button{ :onclick => "goToStep(-1)" }
        go here
