%tr{:no => i}
  %td
    %input{:name => "keys[#{i}]", :type => 'text', :value => defined?(key) ? key : ''}
  %td
    %textarea{:name => "values[#{i}]"}
      - if defined?(key)
        = graph.info[key]
