%form#modal-form.tagset{ :onsubmit => 'sendModal("tagset"); return false;', :onreset => 'closeModal(); return false;' }
  #modal-warning.error_message
  %div.modal-form-element
    %table
      %tr
        %th{:colspan => 2} Tagset
      %tr
        %th{:colspan => 2} Settings
      %tr
        %td.compress
          %input#element_context{:name => 'element_context', :type => 'checkbox', :value => true, :checked => graph.tagset.element_context}
        %td
          %label{:for =>'element_context'}
            interpret context as condition on element, not on annotation
    %table
      %tbody
        %tr
          %th Context
          %th Key
          %th Values
        %tbody{:no => -1}
        - graph.tagset.each_with_index do |rule, i|
          = haml :tagset_form_row, :locals => {:i => i, :key => rule.key, :value => rule.values_string, :context => rule.context}
      %tbody
        %tr
          %td{:colspan => 3}
            %button{:onclick => 'newFormSegment("tagset_form_row", ".tagset"); return false;'}
              Add new tagset rule

  #modal-submit.bottom-block
    %input{ :type => 'reset', :value => 'Cancel' }
    %input{ :type => 'submit', :value => 'Save' }
