%form#modal-form.tagset{ :onsubmit => 'sendModal("tagset"); return false;', :onreset => 'closeModal(); return false;' }
  #modal-warning.error_message
  %div.modal-form-element
    %table
      %tbody
        %tr
          %th{ :colspan => 3 } Tagset
        %tr
          %th Context
          %th Key
          %th Layers
          %th Values
        %tbody{:no => -1}
        - graph.tagset.each_with_index do |rule, i|
          = haml :tagset_form_row, :locals => {:i => i, :key => rule.key, :value => rule.values_string, :layer => rule.layer, :context => rule.context}
      %tbody
        %tr
          %td{:colspan => 3}
            %button{:onclick => 'newFormSegment("tagset_form_row", ".tagset"); return false;'}
              Add new tagset rule

  #modal-submit.bottom-block
    %input{ :type => 'reset', :value => 'Cancel' }
    %input{ :type => 'submit', :value => 'Save' }
