%tbody{:no => i}
  %tr
    %td.error_message{:colspan => 4}
  %tr
    %td.context
      %input{:name => "contexts[#{i}]", :type => 'text', :value => defined?(context) ? context : ''}
    %td.layer
      %input{:name => "layer[#{i}]", :type => 'text', :value => defined?(layer) ? layer : ''}
    %td.key
      %input{:name => "keys[#{i}]", :type => 'text', :value => defined?(key) ? key : ''}
    %td.expand
      %input{:name => "values[#{i}]", :type => 'text', :value => defined?(value) ? value : ''}
    %td
      .button{:onclick => 'removeElement("tbody", this);'}
        delete
