/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 11pt;
}
*/

body {
	margin: 0px;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0ex;
	margin-bottom: 1ex;
}
a {
	color: #002050;
}
button, input[type="submit"], input[type="reset"], input[type="button"], .button {
	color: #ffffff;
	background-color: #002050;
	border: none;
	padding: 2px 6px;
	cursor: pointer;
}
button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus, .button:focus {
	background-color: #003090;
}
ul {
	margin-top: 0ex;
	padding-left: 2em;
}
form {
	margin: 0px;
}
textarea {
	font-size: 95%;
}
table {
	font-size: 13px;
}
th {
	text-align: left;
	font-weight: bold;
}
#graphdiv {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	overflow: scroll;
}
#graph {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
}
#bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.bottom-block {
	background-color: #ddd;
	border-top: solid 1px #002050;
	padding-bottom: 2px;
}
#textline, #meta {
	padding-left: 5px;
}
#cmddiv {
	padding: 5px;
}
#active_file {
	display: inline;
}
#filter {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 30%;
	height: 30%;
	padding: 5px;
}
#filter input {
	width: 8em;
}
#filter table {
	border-spacing: 0;
}
.selected_filter_mode {
	font-weight: bold;
	border-color: #000;
}
#search {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 40%;
	height: 50%;
	padding: 5px;
}
.textarea-container {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 30px;
}
#query {
	margin-bottom: 5px;
}
.below-textarea {
	position: absolute;
	bottom: 5px;
}
#search .textarea-container {
	bottom: 100px;
}
#search .below-textarea {
	min-height: 90px;
}
#filter .textarea-container {
	bottom: 90px;
}
#filter .below-textarea {
	height: 80px;
}
.handle {
	background-color: #002050;
	height: 20px;
	width: 100%;
	cursor: move;
	margin-bottom: 5px;
}
.close {
	position: absolute;
	right: 5px;
	height: 20px;
	width: 20px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}
#searchresult {
	margin-top: 5px;
	width: 100%;
}
.box {
	background-color: #ddd;
	border: solid 1px #002050;
}
.box textarea {
	width: 100%;
	height: 100%;
}
#help {
	display: none;
	position: fixed;
	height: 100%;
	top: 0px;
	right: 0px;
	font-size: 84%;
	padding: 5px;
	background-color: #ddd;
	overflow: auto;
}
#documentation {
	position: fixed; 
	right: 0px;
	bottom: 0px;
	text-align: right;
	padding: 5px;
}
#modal-background {
	position: absolute;
	overflow-y: scroll;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
#modal-content {
	position: absolute;
	width: 90vw;
	margin: 1vw 5vw;
	overflow: hidden;
	background-color: #ddd;
	border: solid 1px #002050;
}
#modal-content .modal-form-element {
	float: left;
	padding: 5px;
}
#modal-form.import input[type='text'] {
	width: 30em;
}
#modal-form textarea {
	width: 100%;
}
#modal-submit {
	clear: both;
	width: auto;
	padding: 5px;
	text-align: right;
}
#modal-warning {
	padding: 10px;
}
#modal-warning:empty {
	padding: 0px;
}
.metadata *, .allowed_annotations * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.metadata .modal-form-element, .metadata table, .allowed_annotations .modal-form-element, .allowed_annotations table {
	width: 100%;
}
.metadata td:first-child, .allowed_annotations td:first-child {
	vertical-align: top;
	width: 8em;
}
/* .metadata textarea {
	width: 20em;
} */
.hidden_word {
	color: #888;
}
.found_word {
	color: #d00;
}
.found_sentence {
	color: #f22;
	font-weight: bold;
}
.error_message {
	color: #d00;
	font-weight: bold;
}
